---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ramen Radar</title>
  </head>
  <body>
    <main>
      <h1>Ramen Radar</h1>
    </main>
  </body>
</html>
